img {
    max-width: 100%;
}
#map-canvas img{
    max-width: none;
}
.header img { width: 400px; }
.header {
    margin-bottom: 20px;
}
.footer {
    font-size: 90%;
    color: gray;
    margin-top: 20px;
}
.btn {
    white-space: normal; 
}
