{% extends("EnfiCienciasDoAmbienteSiteBundle::base.html.twig") %}

{% block head %}

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6lKObk5KuFvWH32gmRLvApsUbkRGVZAU">
</script>

<script type="text/javascript">

  // Try HTML5 geolocation
  if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
          function(position) {
              if ($('#form_endereco').val() == '') {
                  $('#form_endereco').val('Obtendo localização aproximada...');
                  var pos = new google.maps.LatLng(position.coords.latitude,
                                                   position.coords.longitude);
                  geocoder = new google.maps.Geocoder();
                  geocoder.geocode(
                    {
                        'latLng': pos
                    },
                    function(results, status) {
                      if (status == google.maps.GeocoderStatus.OK) {
                            $('#form_endereco').val(results[0].formatted_address);
                      }
                  });
              }
          }
      );
  }

</script>

{% endblock head %}

{% block content %}

      <div class="jumbotron">
        <p class="lead"><b>Recicla Lá</b> :: A reciclagem perto de você!</p>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
      </div>

{#
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>1. Indique quais tipos de lixo você quer descartar</h4>
          <p>Cartolina, embalagem de suco, garrafa PET, vidro, componentes eletrônicos, lâmpadas, embalagem de medicamentos, pilhas, baterias etc.</p>

          <h4>2. Descubra se o seu lixo pode ser coletado em casa</h4>
          <p>Alguns tipos de lixo podem ser coletados diretamente na sua residência.</p>

        </div>

        <div class="col-lg-6">
          <h4>3. Leve o restante do lixo</h4>
          <p>Escolha qual a distância máxima que você gostaria de percorrer, e a nós iremos gerar uma rota para que você possa levar todo o lixo restante da forma mais simples possível.</p>
          <h4>4. Comemore</h4>
          <p>Pronto, você fez a sua parte!</p>
        </div>
      </div>
#}

{% endblock content %}
