{% extends("EnfiCienciasDoAmbienteSiteBundle::base.html.twig") %}

{% block content %}

<h1>Informações sobre reciclagem</h1>

<p>A sociedade está consciente dos malefícios causados pelo lixo e resíduos como poluidores do meio ambiente através da degradação física, química, biológica e mesmo estética que causam nas áreas em que são descartados. Por isso é importante que todos façam sua parte e direcionem  cada tipo de resido e lixo produzidos em sua casa para um local onde possam ser devidamente tratados, reciclados ou armazenados a fim de minimizar seu impacto no meio ambiente.</p>

<p>A seguir temos alguns dos impactos causados pelo descarte indevido de certos tipos de lixo.</p>

<h2>Lixo eletrônico</h2>

<p>Quando é descartado de forma inadequada, o lixo eletrônico se torna um sério risco para o meio ambiente, pois possui em sua composição metais pesados altamente tóxicos, como mercúrio, cádmio, berílio e chumbo. Em contato com o solo, os metais pesados contaminam o lençol freático; se queimados, os BFRs liberam toxinas perigosas ao meio ambiente.</p>

<h2>Pilhas e baterias</h2>

<p>As baterias primárias e secundárias comercializadas no país ainda podem conter em sua composição metais pesados altamente tóxicos, como mercúrio, cádmio ou chumbo, e representam, consequentemente, sérios riscos ao meio ambiente.</p>

<h2>Lixo hospitalar</h2>

<p>Remédios descartados com prazo de validade vencido são considerados “lixo hospitalar” de maneira que podem contaminar os lenções freáticos e representar um risco grande para o meio ambiente.</p>

<h2>Óleo</h2>

<p>O óleo de cozinha usado jogado em pias, ralos e vasos sanitários aumenta o custo de manutenção das redes de esgoto. E, esse custo sai dos nossos bolsos. Sem contar que para fazer a manutenção abrem-se buracos em nossas ruas, causando transtornos também para o trânsito. Alem dissoacúmulo de óleo nas represas dificulta o sistema de tratamento da água chegando a impossibilitar a sua utilização para consumo humano. E nos córregos, rios e mares onde flutua, impede a entrada de luz e oxigênio, altera o ecossistema e extermina muitas espécies de vida aquática.</p>

<b>Créditos:</b>
<ul>
<li>http://adelisell.com.br/2014/01/porto-alegre-eu-reclamo-porque-amo/</li>
<li>http://pt.wikipedia.org/wiki/Res%C3%ADduo_eletr%C3%B4nico</li>
<li>http://bioleo.org.br/programa-bioleo/descarte-inadequado/</li>
<li>http://qnesc.sbq.org.br/online/qnesc11/v11a01.pdf</li>
</ul>

<b>Informações adicionais</b>
<ul>
<li>http://www.reciclaoleo.ufscar.br</li>
<li>http://www.saocarlos.sp.gov.br/index.php/prefeitura/utilidade-publica/programa-municipal-de-coleta-seletiva.html</li>
<li>http://www.recicloteca.org.br</li>
</ul>

{% endblock content %} 
