{% extends("EnfiCienciasDoAmbienteCommonEntitiesBundle::base.html.twig") %}

{% block content -%}
    <h1>Alterar Tipo de Lixo</h1>

    {{ form(edit_form) }}
    <a href="{{ path('manage_tipodelixo') }}" class="btn btn-info">Cancelar</a>
    {{ form(delete_form) }}
</ul>
{% endblock %}
