{% extends("EnfiCienciasDoAmbienteCommonEntitiesBundle::base.html.twig") %}

{% block content -%}
    <h1>Novo Tipo de Lixo</h1>

    {{ form(form) }}
    <a href="{{ path('manage_tipodelixo') }} class="btn btn-info">Cancelar</a>
{% endblock %}
